<p>users#index</p>

<%= render 'list', user: @user, book: @book %>

<div>

<h2>Users</h2>
<% @users.each do |user| %>

<%= image_tag user.get_profile_image(100,100) %>
<p>ユーザーネーム：<%= user.name %></p>
<%= link_to "Show", user_path(user.id) %>

<% end %>